<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Welcome to CritForest</h1>
    <br />
    <h2>Homegrown Gaming News, Reviews, and Walkthroughs.</h2>
    <br />
    <%= link_to 'Enter the Forest', guides_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Record-Breaking News</h3>
      <br />
      <p>Gaming's always growing; survey the latest news or write your own.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Reviews with High Int</h3>
    <br />
    <p>Everyone's got an opinion and we want yours; so don't hold back!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>No-Nonsense Guides</h3>
    <br />
    <p>SPOILER ALERT! Create your own walkthroughs and guides for your favorite games!</p>
  </div>
</div>

<div class="footnote col-10 offset-1 text-center">
  <br />
    <p>Background art courtesy Hiro Sano and Square Enix</p>
  <br />
</div>